@mixin pad {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: 1400px) {
    @content;
  }
}

@font-face {
  font-family: "MantouSans-Regular";
  font-weight: 400;
  src: local("MantouSans-Regular"), url("../font/MantouSans-Regular.ttf");
}

.ff-ms {
  font-family: "MantouSans-Regular";
}

.fs-m-title {
  font-size: 3.25rem;
}

.fs-m-lg-title {
  @include pc {
    font-size: 3.25rem !important;
  }
}

@mixin gradient-xr($start-color: $primary, $end-color: $secondary) {
  background-image: linear-gradient(
    90deg,
    $start-color 1.54%,
    $end-color 97.86%
  );
}

.main-gradient {
  @include gradient-xr(#e5793b, #ff4185);
}

.text-gradient {
  @include gradient-xr(#e5793b, #ff4185);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-lh {
  line-height: 1.05;
}

.title-ls {
  letter-spacing: 2px;
}

.text-over {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.main-shadow {
  box-shadow: 0px 4px 12px 0px rgba(163, 180, 203, 0.2);
}

.number-circle {
  width: 2.5rem;
  height: 2.5rem;
  @include pc {
    width: 3.125rem;
    height: 3.125rem;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.modal-f2e {
  @include pad {
    max-width: 80%;
  }
}

.modal-event-width {
  width: calc(50% - 8px);
  @include pc {
    width: calc(100% / 3);
  }
}

.donate-form {
  height: 331px;
  @include pad {
    height: auto;
  }
}

.rounded-500 {
  border-radius: 500px;
}
