.main-img {
  width: 723px;
}

.nav-bottom-img {
  width: 1.5rem;
  height: 1.5rem;
}

.event-main-img {
  height: 241px;
  aspect-ratio: 2;
  @include pad {
    height: 443px;
  }
  @include pc {
    height: 431px;
  }
}

.event-side-img {
  width: 109px;
  @include pc {
    width: 201px;
    height: 134px;
  }
}

.event-modal-img {
  aspect-ratio: 2;
  object-fit: cover;
  height: 251px;
  @include pad {
    height: 443px;
  }
  @include pc {
    height: 318px;
  }
}

.event-modal-side-img {
  width: 100%;
  @include pc {
    height: 134px;
  }
}

.event-icon {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 32;
  font-size: 2rem;
}

.donate-img {
  height: 150px;
  @include xxl {
    height: auto;
  }
}

.service-img {
  height: 105px;
  @include xxl {
    height: auto;
  }
}

.donate-modal-img {
  width: 95px;
  height: 98px;
  @include pc {
    width: 336px;
    height: 348px;
  }
}

.service-modal-img {
  height: 147px;
  @include pc {
    height: 480px;
  }
}
